body{
    background-color: rgb(55, 51, 38);
    align-items: center;
    justify-content: center;
}
header{
    text-align:center;
    margin-top:50px;
    align-items: center;
}
#blank{
    height:200px;
}
h1{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Passero One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-family: "Passero One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, auto);
    grid-auto-flow: dense;
}


#red{
    grid-column: 1;
    grid-row: 1 / 2;
    height: 50%;
    width:auto;
    
}

#red:hover{
    grid-column: 1;
    grid-row: 1 / 2;
    height: 50%;
    width:auto;
    
}

#blue{
    grid-column: 3;
    grid-row: 1 / 2;
    height: 50%;
    width:auto;
}
#character{
    grid-column: 2;
    grid-row: 1;
    color: white;
    text-align:center;

}
#watch{
    grid-column: 2;
    grid-row: 1 / 2;
    text-align: center;
    width:100%;
}

#popup:hover{
    display: none;
    grid-column: 1;
    grid-row: 1 / 2;
    height: 50%;
}

#watchsiblings:hover{
    display: none;
    grid-column: 3;
    grid-row: 1 / 2;
    height: 50%;
}

#popup{
    display: block;
    grid-column: 1;
    grid-row: 1 / 2;
    height: 50%;
}

#watchsiblings{
    display: block;
    grid-column: 3;
    grid-row: 1 / 2;
    padding-left: 10%;
    padding-top: 5%;
    width: 82%;
}



#skip{
    grid-column: 2;
    grid-row: 2;
    padding-left: 10%;
    width: 85%;  
}
.skip{
    grid-column: 2;
    grid-row: 2;
    padding-left: 30%;
    z-index: 10;
}

#wdoor{
    grid-column: 1 / span end;
    grid-row: 1;
    padding-top: 5%;
    width: 100%;
}
#fdoor{
    grid-column: 1 / span end;
    grid-row: 2;
    padding-top: 3%;
    width: 100%;
}
#wrunning{
    grid-column: 1;
    grid-row: 1;
    width:95%;
}
#frunning{
    grid-column: 1;
    grid-row: 2;
    width:90%;
}

.image-link {
    display: block;
    margin-bottom: 0; /* Adjust spacing between the image and the previous container */
  }
  
  .image-link img {
    max-width: 100%; /* Makes the image responsive */
    height: auto;
  }




#whenready{
    align-items: center;
    padding-top: 15%;
    padding-left: 40%;

    width: 20%;
}
.container {
    display: grid;
    place-items: center;
}
.link{
    align-items: center;
    padding-top: 40px;
    width: 20%;
}

#stands{
    width:85%;
    padding-left: 50px;
    grid-row: 1;
    grid-column: 1;
}
#button{
    width: 100%;
    padding-top:45%;
    padding-left:35%;

    grid-row: 1;
    grid-column: 2;

}
#finished{
    padding-top:100px;
    padding-left:100px;
    font-size:200%;
    grid-column: 2;
    grid-row: 1;
    font-size: 240%;
    width: 100%;
    padding-left:25%;

}
